{% extends "index.html" %} {% block blockname %}
<h2>Admin Functions</h2>
<ul>
    <li>
        <a href="/create_test" target="" rel="noopener noreferrer">Create Test</a>
    </li>
    <li>
        <a href="/edit_test" target="" rel="noopener noreferrer">Edit Test</a>
    </li>
    <li>
        <a href="/delete_test" target="" rel="noopener noreferrer">Delete Test</a>
    </li>
    <li>All Tests</li>
    <li>a question for a particular test</li>
    <li>edit a question for a particular test</li>
    <li>delete a question for a particular test</li>
    <li>list all questions for a particular test</li>
</ul>
{% endblock blockname %}