{% extends "index.html" %} {% block blockname %}
<h1>Create New Test</h1>
<form action="#" method="post">
    {% csrf_token %}
    <div class="form-group">
        <h2><label for="category">Test Category</label></h2>
        <select class="custom-select" name="category" id="category">
                <option selected>Select one</option>
                {% for category in categories %}
                    <option value="{{category.id}}">{{category.Category}}</option>
                {% endfor %}
        </select>
        <a href="add_category" rel="noopener noreferrer">Create New Category</a>

        <h2><label for="test_name">Test Name</label></h2>
        <input type="text" class="form-control" name="test_name" id="test_name">

        <h2><label for="test_description">Test Description</label></h2>
        <textarea class="form-control" name="test_description" id="test_description" rows="3"></textarea>

        <div class="form-group">
            <h2>Select Questions from below list:</h2>
            {% for question in questions %}
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="{{question.id}}" value="{{question.id}}">
                    {{question.Question}}
                </label>
            </div>
            {% endfor %}
            <a href="add_question" rel="noopener noreferrer">Create New Question</a>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock blockname %}