{% extends 'index.html' %} {% block blockname %}
<h2>Test List</h2>
<form action="#" method="post">
    {% csrf_token %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    {% for test in tests %}
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="{{test.id}}" value="{{test.id}}">
                            {{test.Test_Name}}
                            </label>
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary" name="retrieve">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock blockname %}