{% extends "index.html" %} {% block blockname %}
<h2>Correct The Question Details</h2>
{% if form %}
<form method="post">
    {% csrf_token %} {% for field in form %}
    <div class="row">
        <div class="col-lg-2">
            {{ field.label_tag }}{{ field.errors }}
        </div>
        <div class="col pull-left">
            {{ field }}{% if field.help_text %}
            <div class="row">
                <div class="col">
                    <i style="color: brown;font-weight: bold">*Note: </i>
                    <i style="color: brown;">{{ field.help_text }}</i>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <input type="hidden" name='id' value="{{id}}">
    <br> {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% else %} {% for question in questions %}
<form class="form-inline" action="#" method="POST">
    {% csrf_token %}
    <div class="container">
        <div class="form-group row">
            <div class="col-8">
                {{question.Question}}
                <input type="hidden" class="form-control" value="{{question.id}}" name="question_id">
            </div>
            <div class="col-4">
                <button type="submit" class="btn btn-primary">Edit</button>
            </div>
        </div>
    </div>
</form>
<br> {% endfor %} {% endif %} {% endblock blockname %}